body {
    background: linear-gradient(90deg, #e8e9cb, #a5e8dab9);
}

a {
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px gray;
    background: linear-gradient(45deg, #ea8e8e, #fae9bb)

}
a:hover {
    color: brown;
    background-color: #e6cccc;

}

a:active {
    box-shadow: -1px -1px gray;

}

img {
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.btn, h1, p {
    text-align: center;
}

.main {
    margin-top: 50vh;
}

p {
    font-size: 35px;
    letter-spacing: 3px;
    color: #8a4b4b
}

.scam h1 {
    text-decoration: underline;
    letter-spacing: 5px;
}
